<section class="panel panel-social-media">
    <header class="panel-heading">
        <h2 class="panel-title">Accounts With the Most Followers</h2>
    </header>

    <div class="panel-body">
        <header class="row">
            <h3 id="account-name" class="list-heading col-xs-8">Account Name</h3>
            <h3 id="account-followers" class="list-heading col-xs-4">Followers</h3>
        </header>

        <div class="list-group list-group-accounts">
            <a href="#" class="list-group-item" data-ng-repeat="account in accounts track by $index">
                <div class="row">
                    <div class="list-item-name col-xs-8">{{account.organization}}</div>
                    <div class="list-item-followers col-xs-4">{{account.followers | number:0}}</div>
                </div>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{account.followers}}" aria-valuemin="0" aria-valuemax="{{maxFollowers}}" data-ng-style="{'width': '{{account.followers / maxFollowers * 100}}%'}">
                        <span class="sr-only">{{account.followers}}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>