doctype
html(lang="en-us")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")

        link(rel='stylesheet', href='/bower_components/c3/c3.min.css')
        link(rel='stylesheet', href='/css/main.css')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic' rel='stylesheet' type='text/css')

        link(rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png")
        link(rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="/favicon/android-chrome-192x192.png" sizes="192x192")
        link(rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16")
        link(rel="manifest" href="/favicon/manifest.json")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="msapplication-TileImage" content="/favicon/mstile-144x144.png")
        meta(name="theme-color" content="#ffffff")

        title US Digital Registry

    body(data-ng-app='USDigitalRegistryApp')
        div(data-ng-controller='Dashboard')
            nav.navbar.navbar-default
                div.container
                    div.navbar-header
                        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-nav")
                            span.sr-only Toggle Navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        h1.navbar-brand
                            a(href="#/agencies") The U.S. Government on Social Media

                    div(class="collapse navbar-collapse" id="site-nav")
                        ul.nav.navbar.navbar-right
                            li
                                a(data-ng-click="scrollToAbout()") About this site

            main
                div(id="site-head")
                    header(class="container")
                        h2(class="sr-only") Filter Results
                        form(name="filter")
                            div(class="col-md-6")
                                label(for="filter-agency" class="sr-only") Select Agency
                                select(name="filter-agency" id="filter-agency" data-ng-change="updateFilters()" data-ng-model="filterAgency" class="form-control" data-ng-options="agency.name for agency in agencyFilters")

                            div(class="col-md-3")
                                label(for="filter-platform" class="sr-only") Select Social Media Platform
                                select(name="filter-platform" id="filter-platform" data-ng-model="filterPlatform" class="form-control" data-ng-options="platform.service_display_name disable when platform.disable for platform in platformFilters")

                            div(class="col-md-3")
                                label(for="filter-tag" class="sr-only") Filter by Keyword
                                select(name="filter-tag" id="filter-tag" data-ng-model="filterTag" class="form-control" data-ng-options="tag.tag_text for tag in tagFilters")

                div(class="container")
                    div(class="col-md-8 col-xs-12")
                        agency-summary

                        agencies-accounts

                        section(class="panel panel-about-dashboard" id="about-site")
                            header(class="panel-heading")
                                h2(class="panel-title") About this site

                            div(class="panel-body")
                                p stuff about what this is doing. stuff about icf even. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum  luctus eros eu fringilla vestibulum. Nam a lacinia nunc. Vestibulum dui  diam, ullamcorper nec tristique faucibus, rhoncus vitae mi. Ut feugiat  eget magna at feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum  luctus eros eu fringilla vestibulum. Nam a lacinia nunc. Vestibulum dui  diam, ullamcorper nec tristique faucibus, rhoncus vitae mi. Ut feugiat  eget magna at feugiat.

                    aside(class="col-md-4 col-xs-12")
                        accounts-followers

                        latest-post


        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/lodash/dist/lodash.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

        script(src='/bower_components/angular/angular.min.js')
        script(src='/bower_components/angular-route/angular-route.min.js')
        script(src='/bower_components/angular-aria/angular-aria.min.js')
        script(src='/bower_components/angular-sanitize/angular-sanitize.min.js')

        script(src='/bower_components/d3/d3.js')
        script(src='/bower_components/c3/c3.min.js')
        script(src='/app/app.js')
        script(src='/app/config.js')
        script(src='/app/factories.js')
        script(src='/app/controllers.js')
        script(src='/app/directives.js')
